/* CSS untuk mengatur tampilan kalkulator */
body {
  background-color: #faf2fa;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.calculator {
  background-color: #242628;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
}
.display {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: right;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #5a545e;
}
.button.operator {
  background-color: #5a545e;
  color: #000000;
}
.button.operator:hover {
  background-color: #5a545e;
}
.button.equals {
  background-color: #5a545e;
  grid-column: span 2;
}
.button.equals:hover {
  background-color: #5a545e;
}
.button.clear {
  background-color: ;
  grid-column: span 2;
}
.button.clear:hover {
  background-color: #5a545e;
}
